<aside class="bg-black dk nav-xs aside hidden-print" id="nav">
    <section class="vbox">
      <section class="w-f-md scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
          data-size="10px" data-railOpacity="0.2">
          <!-- nav -->
          <nav class="nav-primary hidden-xs">
            <ul class="nav bg clearfix">
              <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                导航
              </li>
              <li>
                <a href="/">
                  <i class="icon-film icon text-info"></i>
                  <span class="font-bold">首页</span>
                </a>
              </li>
              <li>
                <a href="/director">
                  <i class="icon-ghost icon text-info"></i>
                  <span class="font-bold">导演</span>
                </a>
              </li>
              <li>
                <a href="/publisher">
                  <i class="icon-paper-plane icon text-info"></i>
                  <span class="font-bold">发行商</span>
                </a>
              </li>
              <li>
                <a href="/producer">
                  <i class="icon-pie-chart icon text-info"></i>
                  <span class="font-bold">制片商</span>
                </a>
              </li>
              <li>
                <a href="/star/sowar">
                  <i class="icon-crop icon text-info"></i>
                  <span class="font-bold">有码女优</span>
                </a>
              </li>
              <li>
                <a href="/star/infantry">
                  <i class="icon-direction icon text-info"></i>
                  <span class="font-bold">无码女优</span>
                </a>
              </li>
              <li>
                <a href="/forum">
                  <i class="icon-speech icon text-info"></i>
                  <b class="badge bg-primary pull-right">6</b>
                  <span class="font-bold">司机论坛</span>
                </a>
              </li>
              <li class="m-b hidden-nav-xs"></li>
            </ul>
            <ul class="nav" data-ride="collapse">
              <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                热搜
              </li>
              <li class="active">
                <a href="javascipt:;" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-angle-left text"></i>
                    <i class="fa fa-angle-down text-active"></i>
                  </span>
                  <i class="icon-users icon"></i>
                  <b class="badge bg-success dker pull-right">10</b>
                  <span>演员</span>
                </a>
                <ul class="nav dk text-sm">
                  <li>
                    <a href="/star/sowar/opq" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>松下纱荣子</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/2zz" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>大桥未久</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/okq" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>三上悠亚</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/6ak" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>天海翼</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/2jv" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>波多野结衣</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/km8" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>立花美凉</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/2rw" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>朝桐光</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/7mt" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>二宫ナナ</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/83y" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>麻生希</span>
                    </a>
                  </li>
                  <li>
                    <a href="/star/sowar/nun" class="auto">
                      <i class="icon-user text-xs"></i>
                      <span>神尾舞</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- / nav -->
        </div>
      </section>
    </section>
  </aside>