<!DOCTYPE html>
<html lang="en" class="app">

  {include file='layout/header'}

<body class="">
  <section class="vbox">
    {include file='layout/nav'}
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        {include file='layout/siderbar'}
        <!-- /.aside -->
        <section id="content" class="bg-white">
          <section class="vbox">
            <section class="scrollable padder-lg">
              <h2 class="font-thin m-b">论坛 <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
                  <span class="bar1 a1 bg-primary lter"></span>
                  <span class="bar2 a2 bg-info lt"></span>
                  <span class="bar3 a3 bg-success"></span>
                  <span class="bar4 a4 bg-warning dk"></span>
                  <span class="bar5 a5 bg-danger dker"></span>
                </span>
              </h2>
              <div class="row">
                <div class="col-sm-9">
                  <section class="panel panel-default" style="margin-top: 1rem;">
                    <header class="panel-heading">论坛分类</header>
                    <table class="table table-striped m-b-none">
                      <tbody>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                  <section class="panel panel-default" style="margin-top: 1rem;">
                    <header class="panel-heading">交流区</header>
                    <table class="table table-striped m-b-none">
                      <tbody>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                        <tr>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                          <td>房价快速的开发发圣诞节分厘卡积分烦恼的交罚款文件发哦撒旦解放</td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                </div>
                <div class="col-sm-3">
                  <h5 class="font-bold">Categories</h5>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <a href="#">
                        <span class="badge pull-right">15</span>
                        Photograph
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#">
                        <span class="badge pull-right">30</span>
                        Life style
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#">
                        <span class="badge pull-right">9</span>
                        Food
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#">
                        <span class="badge pull-right">4</span>
                        Travel world
                      </a>
                    </li>
                  </ul>
                  <div class="tags m-b-lg l-h-2x">
                    <a href="#" class="label bg-info">技术</a>
                    <a href="#" class="label bg-info">PHP</a>
                    <a href="#" class="label bg-info">Apple</a>
                    <a href="#" class="label bg-info">Less</a>
                    <a href="#" class="label bg-info">Theme</a>
                    <a href="#" class="label bg-info">CMS</a>
                  </div>
                  <h5 class="font-bold">Recent Posts</h5>
                  <div>
                    <article class="media">
                      <a class="pull-left thumb thumb-wrapper m-t-xs">
                        <img src="images/m1.jpg">
                      </a>
                      <div class="media-body">
                        <a href="#" class="font-semibold">Bootstrap 3: What you need to know</a>
                        <div class="text-xs block m-t-xs"><a href="#">Travel</a> 2 minutes ago</div>
                      </div>
                    </article>
                    <div class="line"></div>
                    <article class="media m-t-none">
                      <a class="pull-left thumb thumb-wrapper m-t-xs">
                        <img src="images/m2.jpg">
                      </a>
                      <div class="media-body">
                        <a href="#" class="font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                        <div class="text-xs block m-t-xs"><a href="#">Design</a> 2 hours ago</div>
                      </div>
                    </article>
                    <div class="line"></div>
                    <article class="media m-t-none">
                      <a class="pull-left thumb thumb-wrapper m-t-xs">
                        <img src="images/m3.jpg">
                      </a>
                      <div class="media-body">
                        <a href="#" class="font-semibold">Sed diam nonummy nibh euismod tincidunt ut laoreet</a>
                        <div class="text-xs block m-t-xs"><a href="#">MFC</a> 1 week ago</div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </section>
            {include file='layout/footer'}
          </section>
        </section>
      </section>
    </section>
  </section>
</body>

</html>