<!DOCTYPE html>
<html lang="en" class="app">

{include file='layout/header'}

<body class="">
  <section class="vbox">
    {include file='layout/nav'}
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        {include file='layout/siderbar'}
        <!-- /.aside -->
        <section id="content">
          <section class="hbox stretch">
            <section>
              <section class="vbox">
                <section class="scrollable padder-lg w-f bg-white-only">
                  <div class="pull-right" style="margin-top:25px;">
                    <a href="/" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                      data-original-title="默认排序">
                      <i class="icon-list inline"></i>
                    </a>
                    <a href="/sort/popular" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                      data-original-title="最受欢迎">
                      <i class="icon-star inline"></i>
                    </a>
                    <a href="/sort/infantry" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                      data-original-title="无码">
                      <i class="icon-direction inline"></i>
                    </a>
                    <a href="/sort/sowar" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                      data-original-title="有码">
                      <i class="icon-crop inline"></i>
                    </a>
                    <a href="/sort/magnetic" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                      data-original-title="有磁">
                      <i class="icon-link inline"></i>
                    </a>
                    <a href="/sort/hd" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                      data-original-title="高清">
                      <i class="icon-film inline"></i>
                    </a>
                    <a href="/sort/subtitle" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                      data-original-title="字幕">
                      <i class="icon-book-open inline"></i>
                    </a>
                  </div>
                  <h2 class="font-thin m-b">电影 <span class="musicbar animate inline m-l-sm"
                      style="width:20px;height:20px">
                      <span class="bar1 a1 bg-primary lter"></span>
                      <span class="bar2 a2 bg-info lt"></span>
                      <span class="bar3 a3 bg-success"></span>
                      <span class="bar4 a4 bg-warning dk"></span>
                      <span class="bar5 a5 bg-danger dker"></span>
                    </span>
                  </h2>
                  <div class="row row-sm">
                    {foreach $movies as $movie}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="top">
                            {if $movie.type == 0}
                            <span class="pull-right m-t-sm m-r-sm badge bg-primary">有码</span>
                            {/if}
                            {if $movie.type == 1}
                            <span class="pull-right m-t-sm m-r-sm badge bg-primary">无码</span>
                            {/if}
                            {if $movie.is_hd == 1}
                            <span class="pull-right m-t-sm m-r-sm badge bg-info">HD</span>
                            {/if}
                            {if $movie.is_subtitle == 1}
                            <span class="pull-right m-t-sm m-r-sm badge bg-danger">CC</span>
                            {/if}
                            {if $movie.is_magnetic == 1}
                            <span class="pull-right m-t-sm m-r-sm badge bg-light">MT</span>
                            {/if}
                          </div>
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="text-info padder m-t-sm text-sm">
                              <i class="fa fa-star"></i> 评分：{$movie.score}
                            </div>
                            <div class="center text-center m-t-n">
                              <a href="/detail/{$movie.sdde}"><i class="icon-arrow-right i-2x"></i></a>
                            </div>
                            <div class="bottom padder m-b-sm">
                              <a href="/detail/{$movie.sdde}" class="pull-right">
                                <i class="fa fa-heart-o"></i>
                              </a>
                              <a href="/detail/{$movie.sdde}">
                                <i class="fa fa-plus-circle"></i>
                              </a>
                            </div>
                          </div>
                          {if $movie.type == 1}
                          <a href="/detail/{$movie.sdde}"><img
                              src="//www.seedmm.fun/imgs/thumbs/{:str_replace('_b', '', $movie.cover)}" alt=""
                              class="r r-2x img-full" style="height:35rem;width:100%"></a>
                          {else/}
                          <a href="/detail/{$movie.sdde}"><img
                              src="//www.seedmm.fun/pics/thumb/{:str_replace('_b', '', $movie.cover)}" alt=""
                              class="r r-2x img-full" style="height:35rem;width:100%"></a>
                          {/if}
                        </div>
                        <div class="padder-v">
                          <a href="/detail/{$movie.sdde}" class="text-ellipsis">{$movie.title}</a>
                          <a href="/detail/{$movie.sdde}" class="text-ellipsis text-xs text-muted">
                            <span class="pull-left"><i class="icon-badge"></i> {$movie.sdde}</span>
                            <span class="pull-right"><i class="icon-clock"></i> {$movie.publish_date}</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    {/foreach}
                  </div>
                  <div style="text-align: center;">
                    {$movies|raw}
                  </div>
                </section>

                {include file='layout/footer'}

              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>

</body>

</html>