<!DOCTYPE html>
<html lang="en" class="app">

  {include file='layout/header'}

<body class="">
  <section class="vbox">
    {include file='layout/nav'}
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        {include file='layout/siderbar'}
        <!-- /.aside -->
        <section id="content" class="bg-white">
          <section class="vbox">
            <section class="w-f-md" id="bjax-target">
              <section class="hbox stretch">

                <section>
                  <section class="vbox">
                    <section class="scrollable padder-lg w-f bg-white-only">
                      <div class="pull-right" style="margin-top:25px;">
                        <a href="/star/infantry" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                          data-original-title="默认排序">
                          <i class="icon-list inline"></i>
                        </a>
                        <a href="/star/infantry/age" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                          data-original-title="出生日期">
                          <i class="icon-clock inline"></i>
                        </a>
                        <a href="/star/infantry/avatar" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                          data-original-title="有头像">
                          <i class="icon-badge inline"></i>
                        </a>
                        <a href="/star/infantry/height" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                          data-original-title="身高">
                          <i class="icon-direction inline"></i>
                        </a>
                        <a href="/star/infantry/cupsize" style="margin-right: 1rem;" data-toggle="tooltip" data-placement="right"
                          data-original-title="罩杯">
                          <i class="icon-crop inline"></i>
                        </a>
                      </div>
                      <h2 class="font-thin m-b">无码女优 <span class="musicbar animate inline m-l-sm"
                          style="width:20px;height:20px">
                          <span class="bar1 a1 bg-primary lter"></span>
                          <span class="bar2 a2 bg-info lt"></span>
                          <span class="bar3 a3 bg-success"></span>
                          <span class="bar4 a4 bg-warning dk"></span>
                          <span class="bar5 a5 bg-danger dker"></span>
                        </span>
                      </h2>
                      <div class="row row-sm">
                        {foreach $stars as $star}
                        <div class="col-xs-6 col-sm-4 col-md-1">
                          <div class="item">
                            <div class="pos-rlt">
                              <a href="/star/infantry/{$star.hash}"><img src="//www.seedmm.fun/imgs/actress/{$star.avatar}" alt="" class="r r-2x" width="100"></a>
                            </div>
                            <div class="padder-v">
                              <a href="/star/infantry/{$star.hash}" class="text-ellipsis">{$star.name}</a>
                            </div>
                          </div>
                        </div>
                        {/foreach}
                      </div>
                      <div style="text-align: center;">
                        {$stars|raw}
                      </div>
                    </section>
                  </section>
                  {include file='layout/footer'}
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</body>

</html>