<!DOCTYPE html>
<html lang="en" class="app">

  {include file='layout/header'}

<body class="">
  <section class="vbox">
    {include file='layout/nav'}
    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        {include file='layout/siderbar'}
        <!-- /.aside -->
        <section id="content" class="bg-white">
          <section class="vbox">
            <section class="scrollable">
              <section class="hbox stretch">
                <aside class="aside-lg bg-light lter b-r">
                  <section class="vbox">
                    <section class="scrollable">
                      <div class="wrapper">
                        <div class="text-center m-b m-t">
                          <a href="javascript:;" class="thumb-lg">
                            <img src="//www.seedmm.fun/pics/actress/{$star.avatar}" class="img-circle">
                          </a>
                          <div>
                            <div class="h3 m-t-xs m-b-xs">{$star.name}</div>
                            {if $star.hometown}
                            <small class="text-muted"><i class="fa fa-map-marker"></i> {$star.hometown}</small>
                            {/if}
                          </div>
                        </div>
                        <div class="panel wrapper">
                          <div class="row text-center">
                            <div class="col-xs-6">
                              <a href="#">
                                <span class="m-b-xs h4 block">245</span>
                                <small class="text-muted">Followers</small>
                              </a>
                            </div>
                            <div class="col-xs-6">
                              <a href="#">
                                <span class="m-b-xs h4 block">55</span>
                                <small class="text-muted">Following</small>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="btn-group btn-group-justified m-b">
                          <a class="btn btn-success btn-rounded" data-toggle="button">
                            <span class="text">
                              <i class="fa fa-eye"></i> Follow
                            </span>
                            <span class="text-active">
                              <i class="fa fa-eye"></i> Following
                            </span>
                          </a>
                          <a class="btn btn-dark btn-rounded">
                            <i class="fa fa-comment-o"></i> Chat
                          </a>
                        </div>
                        <div>
                          <table class="table table-striped m-b-none">
                            <thead>
                              <tr>
                                <th>描述</th>
                                <th>详情</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <i class="icon-arrow-up"></i> 身高
                                </td>
                                <td>
                                  {$star.height} cm
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="icon-target"></i> 年龄
                                </td>
                                <td>
                                  {$star.age}
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <i class="icon-clock"></i> 出生日期
                                </td>
                                <td>
                                  {$star.birthday}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </section>
                  </section>
                </aside>
                <aside class="bg-white">
                  <section class="vbox">
                    <header class="header bg-light lt">
                      <ul class="nav nav-tabs nav-white">
                        <li class="active"><a href="/star/profile/{$star.hash}">全部作品</a></li>
                        <li class=""><a href="/star/alone/{$star.hash}">独自出演</a></li>
                      </ul>
                    </header>
                    <section class="scrollable">
                      <div class="tab-content">
                        <div class="tab-pane active" style="padding: 2rem;" id="all">
                          <div class="row row-sm">
                            {foreach $movies as $movie}
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
                              <div class="item">
                                <div class="pos-rlt">
                                  <div class="top">
                                    {if $movie.is_hd == 1}
                                    <span class="pull-right m-t-sm m-r-sm badge bg-info">HD</span>
                                    {/if}
                                    {if $movie.is_subtitle == 1}
                                    <span class="pull-right m-t-sm m-r-sm badge bg-light">CC</span>
                                    {/if}
                                  </div>
                                  <div class="item-overlay opacity r r-2x bg-black">
                                    <div class="text-info padder m-t-sm text-sm">
                                      <i class="fa fa-star"></i> 评分：9.8
                                    </div>
                                    <div class="center text-center m-t-n">
                                      <a href="/detail/{$movie.sdde}"><i class="icon-arrow-right i-2x"></i></a>
                                    </div>
                                    <div class="bottom padder m-b-sm">
                                      <a href="#" class="pull-right">
                                        <i class="fa fa-heart-o"></i>
                                      </a>
                                      <a href="#">
                                        <i class="fa fa-plus-circle"></i>
                                      </a>
                                    </div>
                                  </div>
                                  <div class="top">
                                    <span class="pull-left m-t-n-xs m-r-sm text-danger">
                                      <i class="fa fa-bookmark i-lg"></i>
                                    </span>
                                  </div>
                                  <a href="#"><img src="//www.seedmm.fun/pics/thumb/{:str_replace('_b', '', $movie.cover)}" alt="" class="r r-2x img-full"></a>
                                </div>
                                <div class="padder-v">
                                  <a href="#" class="text-ellipsis">{$movie.title}</a>
                                  <a href="#" class="text-ellipsis text-xs text-muted">
                                    <span class="pull-left"><i class="icon-badge"></i> {$movie.sdde}</span>
                                    <span class="pull-right"><i class="icon-clock"></i> {$movie.publish_date}</span>
                                  </a>
                                </div>
                              </div>
                            </div>
                            {/foreach}
                          </div>
                          <div style="text-align: center;">
                            {$movies|raw}
                          </div>
                        </div>
                      </div>
                    </section>
                    {include file='layout/footer'}
                  </section>
                </aside>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</body>

</html>